:root {
  --branding-color: #6c63ff;
  --heading-font-family: Arial, Helvetica, sans-serif;
  --secondary-color: #f9f7fe;
  --grey-color: rgb(100, 104, 118);
}

h2 {
  font-family: "Arvo", serif;
  font-size: 35px;
}
.about-section p {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 600;
  line-height: 23px;
}

.project-description p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: 700;
  color: black;
  line-height: 1.5;
}
.hero h2 {
  font-family: "Arvo", serif;
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.project-description {
  padding: 0 10px;
}

header {
  font-family: "Noto Sans" sans-serif;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content-container h1 {
  font-size: 50px;
  line-height: 1.5;
}

.content-container p {
  font-size: 14px;
  font-family: "Noto Sans", sans serif;
}

.content-container {
  padding: 80px 20px;
}

.content {
  margin: 30px;
}

.app {
  padding: 20px;
}

.app:hover {
  background-color: var(--secondary-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  font-size: 15px;
  line-height: 27px;
  padding: 12px 18px;
  font-family: "Noto Sans", sans-serif;
}

.jazz-app {
  border-radius: 5px;
}

h4 {
  font-size: 42px;
  font-family: "Noto Sans", sans-serif;
}
.logo {
  max-width: 40px;
}

nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 35px;
}

nav li.active a {
  color: rgb(100, 104, 118);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-size: 21px;
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  transition: 100ms ease-in-out;
}

nav a:hover {
  color: rgb(100, 104, 118);
}

footer {
  margin: 50px 0;
}

.about-title {
  font-family: "Noto sans", sans-serif;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 9px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 25px;
  color: black;
  background: var(--secondary-color);
  padding: 14px 22px;
  font-size: 28px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--branding-color);
}

@media (max-width: 960px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 40px;
  }

  header {
    font-size: 20px;
  }

  .btn {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 14px;
  }
  .project-description {
    padding: 0 30px;
    text-align: justify;
  }
  .project-description > h2 {
    text-align: center;
  }

  h2 {
    font-size: 28px;
  }

  h4 {
    font-size: 28px;
  }

  .btn {
    font-size: 12px;
  }
  .about-section p {
    text-align: justify;
  }

  .hero {
    padding: 60px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  footer .contact-box {
    padding: 30px;
  }
}
