:root {
  --branding-color: #6c63ff;
  --heading-font-family: Arial, Helvetica, sans-serif;
  --secondary-color: #f9f7fe;
}

h2 {
  font-family: "Arvo", serif;
  font-size: 35px;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: 700;
  color: black;
  line-height: 1.5;
}
.hero h2 {
  font-family: "Arvo", serif;
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.project-description {
  padding: 0 10px;
}

header {
  font-family: "Noto Sans" sans-serif;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content-container h1 {
  font-size: 50px;
  line-height: 1.5;
}

.content-container p {
  font-size: 14px;
  font-family: "Noto Sans", sans serif;
}

.content-container {
  padding: 80px 20px;
}

.content {
  margin: 30px;
}

.app {
  padding: 20px;
}

.app:hover {
  background-color: var(--secondary-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 12px 20px;
}

.jazz-app {
  border-radius: 5px;
}

@media (max-width: 960px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 40px;
  }

  header {
    font-size: 20px;
  }

  .btn {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 17px;
  }
  .project-description {
    padding: 0 30px;
    text-align: justify;
  }
  .project-description > h2 {
    text-align: center;
  }

  h2 {
    font-size: 28px;
  }

  .hero {
    padding: 100px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
}
